* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

html, body {
    box-sizing: inherit;
    height: 100%;
    line-height: 1.5;
    scroll-behavior:smooth;
    font-family: 'Roboto', sans-serif !important;
    
}

ul {
    padding: 0 !important;
    margin: 0 !important;
    list-style: none;
}

li {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none !important;
}

p {
    color: black !important;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Open-sans', sans-serif !important;
}