:root
{
    --bg-color: #F2F6FE;
}

.wrapper 
{
    display: flex;
    flex-direction: column;

}

.main 
{
    flex: 1 1 auto;
}

.container 
{
    max-width: 1180px !important;
    margin: 0 auto;
    overflow: hidden;
}

.header
{
    font-family: 'Inter', sans-serif !important;
}

.header__top
{
    height: 50px;
    background: linear-gradient(to right, rgba(21, 96, 189, 1), rgba(10, 44, 87, 1));
}

.vk
{
    color: white !important;
}

.tg
{
    color: white !important;
}

.ok
{
    color: white !important;
}

.header__center
{
    height: 110px;
    border-bottom: 1px solid rgb(21, 96, 189);
}

.nav__ul
{
    gap:30px;
}
.footer
{
    height: 350px;
    background: linear-gradient(to right, rgba(21, 96, 189, 1), rgba(10, 44, 87, 1));
    font-family: 'Roboto', sans-serif !important;
}

.footer__logo-name
{
    font-size: 18px;
}

.footer__ul
{
    gap: 35px;
}

.footer__social
{
    gap:15px;
}

.number
{
    height: 300px;
    background: linear-gradient(to right, rgba(21, 96, 189, 1), rgba(10, 44, 87, 1));
}

.number__text
{
    font-size: 32px;
}

.last__news
{
    padding: 50px 0;
    background-color: #F2F6FE;
}

.last__news-img
{
    border-radius: 20px;
}

.hero
{
    padding: 100px 0;
}

.hero__title
{
    font-size: 32px;
    color: #1560BD;
    font-weight: bold;
    margin-bottom: 50px;
}

.important__links
{
    padding: 100px 0;
    background-color: #F2F6FE;
}

.important__links-title
{
    font-size: 32px;
    color:#1560BD;
    margin-bottom: 50px;
}

.important__links-box
{
    background: linear-gradient(to bottom, rgba(21, 96, 189, 1), rgba(10, 44, 87, 1));
    border-radius: 25px;
    width: 180px;
    height: 150px;
}

.important__links-inner
{
    gap: 35px;
}

.contacts
{
    padding: 100px 0;
}

.contacts__title
{
    font-size: 32px;
    color:#1560BD;
    margin-bottom: 50px;
}

.page__title
{
    height: 200px;
    background: linear-gradient(to right, rgba(21, 96, 189, 1), rgba(10, 44, 87, 1));
    display: flex;
    align-items: center;
    justify-content: center;
}

.page__title-title
{
    font-size: 32px;
}

.news
{
    padding: 50px 0;
    background-color: var(--bg-color);
}

.news__search
{
    width: 380px;
    height: 40px;
    border-radius: 15px;
    background:transparent;
    border: 1px solid white;
    outline: none;
    padding: 0 15px;
    color:white;
}

.news__search-btn
{
    background: none;
    color: white;
    margin-left: 10px;
}

.news__img
{
    max-width: 300px;
    border-radius: 20px;
}

.news__title
{
    font-size: 20px;
    margin-bottom: 25px;
}

.news__info
{
    margin-bottom: 40px;
}

.documents
{
    min-height: 50vh;
    background-color: var(--bg-color);
}

.feedback
{
    padding: 50px 0;
    background-color: var(--bg-color);
}

.post
{
    padding: 50px 0;
    background-color: var(--bg-color);
}

.post__img
{   
    max-width: 300px;
    border-radius: 20px;
}

.result
{
    padding: 50px 0;
    background-color: var(--bg-color);
}

.result__title
{
    font-size: 32px;
    color: #1560BD;
    font-weight: bold;
}

.documents
{
    padding: 50px 0;
}

.documents__link
{
    font-size: 18px;
    text-decoration:underline !important;
}