:root
{
    --bg-color: #F2F6FE;
}

.wrapper 
{
    display: flex;
    flex-direction: column;
    min-height: 100dvh;

}

.main 
{
    flex: 1 1 auto;
}

.container 
{
    max-width: 1180px !important;
    margin: 0 auto;
    overflow: hidden;
}

.header
{
    font-family: 'Inter', sans-serif !important;
}

.header__top
{
    height: 50px;
    background: linear-gradient(to right, rgba(21, 96, 189, 1), rgba(10, 44, 87, 1));
}

.vk
{
    color: white !important;
}

.tg
{
    color: white !important;
}

.ok
{
    color: white !important;
}

.header__center
{
    height: 110px;
    border-bottom: 1px solid rgb(21, 96, 189);
    background-color: var(--bg-color);
}

.header__title-hide
{
    display: none;
}

.nav__ul
{
    display: flex;
}

.burger
{
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

.burger span
{
    height: 2px;
    background-color: #1560BD;
    width: 100%;
}

.nav__ul
{
    gap:30px;
    text-wrap: nowrap;
}
.footer
{
    height: 350px;
    background: linear-gradient(to right, rgba(21, 96, 189, 1), rgba(10, 44, 87, 1));
    font-family: 'Roboto', sans-serif !important;
}

.footer__logo-name
{
    font-size: 18px;
}

.footer__ul
{
    gap: 35px;
}

.footer__social
{
    gap:15px;
}

.number
{
    height: 300px;
    background: linear-gradient(to right, rgba(21, 96, 189, 1), rgba(10, 44, 87, 1));
}

.number__text
{
    font-size: 32px;
}

.last__news
{
    padding: 50px 0;
    background-color: var(--bg-color);
}

.last__news-img
{
    border-radius: 20px;
}

.hero
{
    padding: 100px 0;
}

.hero__title
{
    font-size: 32px;
    color: #1560BD;
    font-weight: bold;
    margin-bottom: 50px;
}

.important__links
{
    padding: 100px 0;
    background-color: #F2F6FE;
}

.important__links-title
{
    font-size: 32px;
    color:#1560BD;
    margin-bottom: 50px;
}

.important__links-box
{
    background: linear-gradient(to bottom, rgba(21, 96, 189, 1), rgba(10, 44, 87, 1));
    border-radius: 25px;
    width: 180px;
    height: 150px;
}

.important__links-inner
{
    gap: 35px;
}

.contacts
{
    padding: 100px 0;
}

.contacts__title
{
    font-size: 32px;
    color:#1560BD;
    margin-bottom: 50px;
}

.page__title
{
    height: 200px;
    background: linear-gradient(to right, rgba(21, 96, 189, 1), rgba(10, 44, 87, 1));
    display: flex;
    align-items: center;
    justify-content: center;
}

.page__title-title
{
    font-size: 32px;
}

.news
{
    padding: 50px 0;
}

.news__search
{
    width: 380px;
    height: 40px;
    border-radius: 15px;
    background:transparent;
    border: 1px solid white;
    outline: none;
    padding: 0 15px;
    color:white;
}

.news__search-btn
{
    background: none;
    color: white;
    margin-left: 10px;
}

.news__img
{
    max-width: 300px;
    border-radius: 20px;
}

.news__title
{
    font-size: 20px;
    margin-bottom: 25px;
}

.news__info
{
    margin-bottom: 40px;
}

.documents
{
    min-height: 50vh;
}

.feedback
{
    padding: 50px 0;
}

.post
{
    padding: 50px 0;
    background-color: var(--bg-color);
}

.post__img
{   
    max-width: 300px;
    border-radius: 20px;
}

.result
{
    padding: 50px 0;
}

.result__title
{
    font-size: 32px;
    color: #1560BD;
    font-weight: bold;
}

.documents
{
    padding: 50px 0;
}

.documents__link
{
    font-size: 18px;
    text-decoration:underline !important;
}

.block
{
    overflow: hidden !important;
}

@media (max-width: 828px)
{
    .nav__ul
    {
        gap: 10px;
    }

    .header__title
    {
        font-size: 14px;
    }
}

@media (max-width: 685px)
{
    .header__title {
        font-size: 12px;
    }

    .nav__ul
    {
        font-size: 14px;
    }
}

@media (max-width: 610px)
{
    .header__title
    {
        display: none;
    }

    .number__text
    {
        font-size: 24px;
    }
    
}

@media (max-width: 490px)
{
    .nav__ul
    {
        position: absolute;
        z-index: 5;
        background-color: var(--bg-color);
        flex-direction: column;
        height: 100dvh;
        top: 50px;
        left: 0;
        right: 0;
        bottom: 0;
        align-items: center;
        justify-content: center;
        color:#1560BD !important;

        transform: translateX(100%);
        transition: all 0.5s ease 0s;
    }

    .header__top
    {
        z-index: 10;
    }


    .burger
    {
        display: flex;
        z-index: 10;
    }

    .logo
    {
        z-index: 10;
    }

    .nav__ul.active
    {
        transform: translateY(0px);
    }

    .header__title-hide
    {
        display: block;
        color: #1560BD !important;
        text-align: center;
        font-size: 20px;
    }

    .header__phone
    {
        font-size: 12px;
        text-wrap: nowrap;
    }

    .header__mail
    {
        font-size: 12px;
    }

    .header__social-link
    {
        font-size: 12px;
        text-wrap: nowrap;
    }

    .footer__logo-name
    {
        font-size: 14px;
    }

    .footer__social
    {
        font-size: 14px;
    }

    .footer__ul
    {
        font-size: 12px;
        text-wrap: nowrap;
        gap: 15px;
    }

    .hero__title
    {
        font-size: 24px;
    }

    .important__links-title
    {
        font-size: 24px;
    }

    .contacts__title
    {
        font-size: 24px;
    }

    .page__title-title
    {
        font-size: 22px;
    }

    .result__title
    {
        font-size: 24px;
    }
}

@media (max-width: 505px)
{
    .last__news-img
    {
        max-width: 100%;
        height: auto;
    }
}